<header class="head">
	<ul class="navbar-left">
		<li><a href="/">
			<span><img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Go home" /></span>
			<span><font color='ff0000'>Flask</font>  experements</span>
		</a></li>
	</ul>
	<ul class="navbar-right">
		{% if current_user.is_authenticated %}
			<li><a href=""><i class="icon ion-android-notifications"></i></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-control">
					<span><img src="{{ url_for('static', filename='images/photo.jpg') }}" alt=""></span>
				</a>
				<ul class="dropdown-togle">
					<li>
						<span><img src="{{ url_for('static', filename='images/photo.jpg') }}" alt=""></span>
						<span>
							<a href="#">{{ current_user.username }}</a>
							<a href="#">{{ current_user.email }}</a>
						</span>
					</li>
					<li><a href="{{ url_for('auth.logout') }}">
						<span><i class="icon ion-locked"></i></span>
						<span>Sign Out</span>
					</a></li>
				</ul>
			</li>
		{% else %}
			<li><a href="{{ url_for('auth.login') }}">
				<span><i class="icon ion-unlocked"></i></span>
				<span>Sign In</span>
			</a></li>
		{% endif %}
	</ul>
</header>