{% load static %}
<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% if title %}
        <title>{{ title }} - bookingem</title>
    {% else %}
        <title>Bookingem</title>
    {% endif %}
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="author" href="{% static 'about' %}" title="Pythman">
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="{% static 'img/favicon.png' %}"/>
	
    <!-- style -->
	<link href="{% static 'css/rules/grid.css' %}" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet"/>
	
</head>

<body>
	{% include 'components/_head.html' %}
	{% block content %}{% endblock %}
	{% include 'components/_footer.html' %}
</body>

</html>