{% extends 'base.html' %}

{% block content %}
{% include 'components/_head.html' %}
<section>
    <div class="col-xs-12 body">
        {% include 'components/_sidebar.html' %}
        <div class="col-md-8 content">
            {% for book in object_list %}
                <article class="col-xs-12 book">
                    <div class="col-md-4 book-img">
                        <img src="{{ book.book_thumbnail.url }}" alt="">
                        {% if user.is_authenticated %}
                            <form action="{{ book.book_link_download }}" method="get">
                                <button class="btn">
                                    <span><i class="material-icons">file_download</i></span>
                                    <span>Загрузить</span>
                                    <span>&#8195;{{ book.book_size }} мб.</span>
                                </button>
                            </form>
                        {% else %}
                            <a class="btn" href="{% url 'account_login' %}">
                                <span><i class="material-icons">file_download</i></span>
                                <span>Загрузить</span>
                                <span>&#8195;.{{ book.book_type }}</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-8 book-info">
                        <div class="book-meta">
                            <span>Название:</span>
                            <p><strong>{{ book.book_title }}</strong></p>
                        </div>
                        <div class="book-meta">
                            <span>Автор:</span>
                            <span><p>&#8195;{{ book.book_author }}</p></span>
                        </div>
                        <div class="book-meta">
                            <span>Год издания:</span>
                            <span><p>&#8195;{{ book.book_publish_year }} год</p></span>
                        </div>
                        <div class="book-meta">
                            <span>Язык книги:</span>
                            <span><p>&#8195;{{ book.book_language }}</p></span>
                        </div>
                        <div class="book-meta">
                            <span>Тип файла:</span>
                            <span><p>&#8195;{{ book.book_type }}</p></span>
                        </div>
                        <div class="book-meta">
                            <span>Описание:</span>
                            <p>{{ book.book_description|truncatewords:50 }}</p>
                        </div>
                        {% include 'components/_paginator.html' %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}