body {
    padding: 0px;
    margin: 0px;
    display: block;
    background-image: url('../../../img/bg.png');
}
table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 5px;
}

table td.centered {
    text-align: center;
}
div, header, section, footer, .body {
    display: block;
    position: relative;
    overflow: hidden;
}
.body {
    padding: 30px 100px;
    width: 100%;
    height: auto;
}
.content {
    padding: 0px 10px;
}