{% load static %}
<header>
	<div class="head">
		<ul class="navbar-left col-sm-8">
			<li>
				<ul>
					<li><a href="{% url 'home' %}"></a></li>
					{% for cat in categories %}
						<li><a {% if cat.category_name == category %} class="active" {% endif %} 
							href="{% url 'books' cat.category_name %}">
							{% if cat.category_name == 'Кодинг' %}
								<i class="material-icons">code</i>
							{% elif cat.category_name == 'Веб технологии' %}
								<i class="material-icons">language</i>
							{% elif cat.category_name == 'Безопасность' %}
								<i class="material-icons">security</i>
							{% elif cat.category_name == 'Базы данных' %}
								<i class="material-icons">storage</i>
							{% elif cat.category_name == 'Операционные системы' %}
								<i class="material-icons">devices</i>
							{% elif cat.category_name == 'Прочее' %}
								<i class="material-icons">folder_open</i>
							{% endif %}
						</a></li>
					{% endfor %}
				</ul>
			</li>
			<li>
				<p>{{ category }}</p>
			</li>
		</ul>
		<div class="navbar-right col-sm-4">
			<menu>
				{% if user.is_authenticated %}
					<li><a href="#">
						<span>
							<i class="material-icons">notifications_none</i>
							<span>0</span>
						</span>	
					</a></li>
					<li><a href="#">
						<span><i class="material-icons">sentiment_very_satisfied</i></span>
						<span>{{ user }}</span>
					</a></li>
					<a class="logout-button" href="{% url 'account_logout' %}">Log out</a>
				{% else %}
					<li><a class="login-button" href="{% url 'account_login' %}">Log in</a></li>
				{% endif %}
			</menu>
		</div>
	</div>
</header>