{% if paginator.num_pages > 1 %}
    <nav class="col-xs-12 pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="{% url 'books' category sub_category %}?page={{ page_obj.previous_page_number }}">предыдущая</a>
            </li>
        {% endif %}
            <li>книга {{ page_obj.number }} из {{ paginator.count }}</li>
        {% if page_obj.has_next %}
            <li>
                <a href="{% url 'books' category sub_category %}?page={{ page_obj.next_page_number }}">следующая</a>
            </li>
        {% endif %}
    </nav>
{% endif %}