<div class="col-md-4 sidebar">
    <ul>
        {% for sub_cat in sub_categories %}
            <li><a {% if sub_cat.sub_category_name == sub_category %} class="active" {% endif %} 
                href="{% url 'books' category sub_cat.sub_category_name %}">
                <span>книг: {{ sub_cat.book_set.count }}</span>
                <span>{{ sub_cat.sub_category_name }}</span>
                <i class="material-icons">arrow_forward</i>
            </a></li>
        {% endfor %}
    </ul>
</div>