article {
    display: block;
    position: relative;
}
.book-img {
    display: block;
}
.book-img img {
    display: block;
    width: 100%;
    height: auto;
}
.book-info {
    padding-left: 20px;
}