.home-categories {
    background-color: @color-blue;
    z-index: 1;
    padding: 25px;
    text-align: center;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    ul {
        margin: 0px;
        li {
            display: inline-block;
            vertical-align: middle;
        }
    }
    a {
        width: 138px;
        height: 160px;
        transition: .3s all;
        display: block;
        background-image: url('../../img/bg.png');
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding-top: 25px;
        margin: 3px;
        color: @color-grey;
        font-size: 13px;
        z-index: 99;
        i {
            font-size: 60px;
        }
        &:hover, &:focus {
            color: @color-blue;
        }
    }
}