.home-head {
    padding: 25px 0 55px 0;
    text-align: center;
    h3, p {
        text-align: left;
        margin: 0px;
    }
    p {
        font-size: 12px;
    }
    img {
        margin-top: 5px;
        width: 75%;
    }
    hgroup span {
        display: inline-block;
        vertical-align: middle;
    }
}