<section>
    <p>Привет, <i style="color:green;">{{ user.username }}</i>,</p>
    <p>Для того чтобы, можно было полноценно работать с приложением 
        подверти свой почтовый ящик перейдя по ссылке 
        <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">...потвердить...</a>.</p>
    <p>Если по каким-либо причинам ссылка выше не работает то нажми на эту:</p>
    <p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
    <p>Удачи,</p>
    <p>твой друг и товарищ</p>
    <p><small>Note: replies to this email address are not monitored.</small></p>
</section>