<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% if title %}
    <title>{{ title }} - microblog</title>
  {% else %}
    <title>Welcome to microblog</title>
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon" />
  <!-- style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/reset.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/components/grid.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- components -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/components/head.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet"/>
  
  {% endblock %}
</head>
<body>
  <main>
    {% block body %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}

  <script src="{{ url_for('static', filename='js/button_close.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
</body>
</html>